
<div class="chart-template" ng-controller="TableCtrl">
  <div class="panel-body"  >
          <table class="table table-hover table-responsive table-condensed table-bordered">
            <tr>
              <th> Month </th>
              <th class="title" ng-repeat="month in emailScope.monthLabels">{{month}}</th>
            </tr>

            <tbody >
            <tr>
              <td>Sent</td>
              <td ng-repeat=" mdata in emailScope.monthData " >
              {{mdata.emailSent}}</td>
            </tr>

            <tr>
              <td >Received</td>
              <td ng-repeat=" mdata in emailScope.monthData">
              {{mdata.emailReceived}}</td>
            </tr>

            <tr>
              <td>Reply</td>
              <td ng-repeat=" mdata in emailScope.monthData">
              {{mdata.emailReply}}</td>
            </tr>

            <tr>
              <td>recieved in %</td>
              <td ng-repeat=" mdata in emailScope.monthData">
               {{mdata.receivedPer}}</td>
            </tr>

            <tr>
              <td>reply in %</td>
              <td ng-repeat=" mdata in emailScope.monthData track by $index">
              {{mdata.replyPer}}</td>
            </tr>

          
            </tbody>
          </table>
        </div>
</div> 
