<div class="vertical-template" ng-controller="VerticalCtrl">
    <div class="panel-body">
        <div class="review-list-title">
            <span class="averageText" ng-class="avgcolor{{verticalScope.average}}">Average&nbsp;&nbsp;</span>
            <img class="starRating-lg" src="img/{{verticalScope.average}}-stars-260x48.png" />
            <br>
            <span class="review-list-title-subline">
                <span class="totalReview">{{verticalScope.totalReview}}  customers reviews on </span>
            <img src="img/trustpilot-logo-light-bg-120x18.png">
            </span>
            <hr>
        </div>
        <div  class="review-list-wrap" >
            <div ng-class="['review-list' , verticalScope.aniclass]" 
                 id="mousewheelVerti" msd-wheel="verticalScope.mousewheelVerti($event, $delta, $deltaX, $deltaY)">
                <div class="review-list-repeat-wrap" ng-repeat="review in verticalScope.reviews">
                    <div review-list-repeat ng-class="['review-list-repeat', review.showclass]" >
                        <span class="firstName">{{review.firstName}}</span>&nbsp;:&nbsp;
                        <span class="reviewTitle">{{review.reviewTitle}}</span>
                        <br>
                        <img class="starRating-sm" src="img/{{review.starRating}}-stars-260x48.png" />
                        <span class="rate-line">
                    	<span class="fullName">&nbsp;Rate by {{review.fullName}}</span>
                        <span ng-if="review.location" class="location"> from {{review.location}}</span>
                        </span>
                        <div class="reviewBody starcolor-{{review.starRating}} ">{{review.reviewBody}}</div>
                    </div>

                    <div class="button-wrap-readmore" ng-if="review.buttonshow">
                        <button ng-click="review.showall=!review.showall" class="readmore btn-xs btn-info btn">{{review.showalltext}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-click="verticalScope.showup()" class="uparrow glyphicon glyphicon-chevron-up"></div>
    <div ng-click="verticalScope.showdown()" class="downarrow glyphicon glyphicon-chevron-down"></div>
</div>
