<!DOCTYPE html>
<html ng-app="widgetApp">
    <head>
    <meta http-equiv="refresh" content="5000" >
        <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
         <!-- my personal tools -->
        <script src="js/smt.js"></script>

        <!-- Basic-->
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="../bower_components/ngStorage/ngStorage.min.js"></script>
        <script src="../bower_components/angular-resource/angular-resource.min.js"></script>
        <script src="../bower_components/ngStorage/ngStorage.min.js"></script>
        
        <script src="../bower_components/angular-mousewheel/mousewheel.js"></script>
        <script src="../bower_components/angular-mocks/angular-mocks.js"></script>
        <script src="../bower_components/hamsterjs/hamster.js"></script>
        
        <script src="../bower_components/Chart.js/Chart.min.js"></script>
        <script src="../bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
 
        <!-- for this app  -->
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/animations.js"></script>
        <script src="js/app.js"></script>
       
    </head>
    <body>
        <div class="widgets container"  ng-controller="widgetCtrl">
            <div id = "page" class="row">

             <!-- side  for check boxes -->
                <div id="sidebar" class="bg-info col-md- sidebar-nav-fixed">
                    <h4>SWITCH <br>WIDGETS</h4>
                    <hr>
                    <div class="form-controlbootstra" ng-repeat="widget in widgetScope.widgets | orderBy:'name'  ">
                        <button ng-click="check(widget.id)" name="{{widget.checked}}" class="btn widget-check-{{widget.checked}}">{{widget.name}}</button><hr/>
                        <!-- <input type="checkbox" ng-model="widget.checked" ng-change="updateWidgetsChecked(widget.id)" 
                        class="btn widget-check-{{widget.checked}}">{{widget.name}}</input><hr/>--> 
                    </div>
                </div>

                <!-- left panel for main space -->
                <div id = "widgetshow"  class="widgetshow">
                    <h2>Widgets</h2>
                    <br>
                    <div class="allWidgets" ng-repeat="widget in widgetScope.widgets | orderBy:'id' ">
                        <div class="share-panel-wrap" ></div>
                    </div>
                </div>
               
            </div>
        </div>
    </body>
</html>