@import "../bower_components/html5-boilerplate/dist/css/normalize.css";
@import "../bower_components/html5-boilerplate/dist/css/main.css";
@import "../bower_components/angular-chart.js/dist/angular-chart.css";
@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css";
@import "basic";
@import "panel";
@import "sharepanel";
@import "partial";
//@import "slides";
body {
    background-color: $invertSideColor;
}

#sidebar {
    padding: $unitpx;
    height: auto;
    width: $sideWidth;
    @include transitionDef;
    @extend .alle;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $sideBgColor;
    color: $invertSideColor;
    button {
        background-color: transparent;
        border: 1px solid white;
        width: 100%;
    }
    button:hover,
    .btn:hover,
    .btn:focus,
    .btn:visited {
        color: white;
        background-color: transparent;
        border: 1px solid white;
    }
    .widget-check-true {
        box-shadow: 0px 0px 2px 2px white;
        box-shadow: 0px 0px 5px 5px white;
    }
    .widget-check-false {}
    div[ng-if="$storage.widgets"] {
        width: 100%;
    }
    label {
        font-weight: 300;
    }
}

.widgetshow {
    position: absolute;
    left: $sideWidth;
    top: 0px;
    right: 0px;
    background-color: $invertSideColor;
    color: $sideBgColor;
    padding-left: $unitpx/2 * 2;
    padding-right: $unitpx * 2;
}

.chart-template {
    width: 450px;
    height: 300px;
    margin-top: 40px;
    text-align: center;
    .pernote {
        width: 100%;
        font-size: 10px;
    }
    th {
        text-align: center;
    }
}
